
* {
    margin: 0;
    padding: 0;
    border: 0;
}

.bob-image{
    background-image: url("images/BOB4.jpg");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    width: 12%;
    height: auto;
    margin: 5px, 0 , 0, 5px;
    padding: 0;
}

#first-img {
    width: 100%;
    height: auto;
}
.intro-text {
    font-size: 100px;
    font-family: "Roboto Slab", sans-serif;
    padding: 10px;
    color: lightyellow;
    text-shadow: 2px 2px #30475e;
}

.separate {
    height: 10px;
    width: 100%;
    background-color: #30475e;
}

.images-sec {
    display: inline-flex;
}

#img-1 {
    width: 50%;
}
#img-2 {
    width: 50%;
}
.about {
    display: inline-flex;
    /* to add - background color - */
}

.text {
    color: black;
    border: black;
    border-radius: 10px;
}

.bottom {
    text-align: center;
    background: #30475e;
}

#contact-btn {
    background: linear-gradient(to top, red, orange);
    margin: 10px;
    font-size: 20px;
    padding: 5px; 
    border-radius: 10px;
}
#contact-btn:hover {
    background: red;
}

#social {
    display: inline-flex;
}

.icon {
    width: 10%;
    margin: 5px;
}
.icon:hover {
    opacity: 0.5;
}