
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: black;
}
.logo {
    text-align: center;
    background-color: black;
}

#logo {
    width: 30%;
    height: auto;
}

/*
.intro-text {
    font-size: 100px;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    color: #f5f0e3;
    text-shadow: 2px 2px black;
}
*/

/* animation 
@keyframes top2bottom {
	0%   {opacity: 0;
		  -webkit-transform: translate3d(-100%,0,0);
		  transform: translate3d(0,-25%,0);}
	100% {opacity: 1;
    	  -webkit-transform: translate3d(0,0,0);
    	  transform: translate3d(0,0,0);}
}
.text-content {
    animation-name: top2bottom;
    animation-duration: 3s;
}
*/

/* services section */

.about {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    background-color: black;
}

.list-item {
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding: 20px;
    font-size: 95%;
    color: #f5f0e3;
}

#bollywood-dance {
    background-color: #ff7315;
    width: 20%;
}
#bollywood-dance:hover {
    background-color: orangered;
}
#dance-classes {
    background-color: #3a3535;
    width: 20%;
}
#dance-classes:hover {
    background-color: orangered;
}
#performances {
    background-color: #232020;
    width: 20%;
}
#performances:hover {
    background-color: orangered;
}

.first-img-sec {
    text-align: center;
}

#first-img {
    width: 99%;
    height: auto;
}

/*images section */

.images-sec {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: black;
    justify-content: center;
    flex-wrap: wrap;
}

#img-1 {
    width: 50%;
    height: auto;
}
#img-2 {
    width: 50%;
    height: auto;
}


/* about section */

.about-txt {
    color: white;
    font-family: "Cantarell", sans-serif;
    font-size: 30px;
    padding: 20px;
    text-emphasis: 20px;
    margin: 15px 100px 15px 100px;
}

.testamonial-txt {
    padding: 30px;
}
/* bottom sections */

.bottom {
    text-align: center;
    background: black;
    padding: 10px;
}

/*
#contact-btn {
    background: linear-gradient(to top, red, orange);
    margin: 10px;
    font-size: 20px;
    padding: 8px; 
    border-radius: 10px;
}
#contact-btn:hover {
    background: red;
}
*/

.social {
    display: inline;
    justify-content: center;
    padding: 5px;
}

.icon {
    width: 5%;
    margin: 5px;
}
.icon:hover {
    opacity: 0.5;
}

.rebecca {
    font-family: sans-serif;
    padding: 3px;
    color: white;
}
.must-have {
    font-size: 5px;
}